# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Output of 'npm pack'
#*.tgz

# MYC output
.nyc_output
coverage

# NPM.rc
.npmrc

# Environment files
*.env

# Test temporal files
.mocha-ts
.tsconfig.json

# docs temporal files
.nojekyll

# The i3m wallet DID and pairing token
i3mWalletSetup.json
i3mWalletSetup.kids.json
i3mWalletSetup.castefa.json
i3mWalletSetup.thinkjuan.json

# the ethers wallet address and private key
ethersWalletSetup.json
