# Build scripts
build

# Templates
templates

# Testing files
testing

# Logs
logs
*.log
npm-debug.log*

# Output of 'npm pack'
*.tgz

# Visual Studio Code
.vscode

# IntelliJ
.idea

# MYC output
.nyc_output
coverage

# GitHub
.github