# Build scripts
build

# Testing files
test
**/*.spec.ts

# Logs
logs
*.log
npm-debug.log*

# Output of 'npm pack'
*.tgz

# Visual Studio Code
.vscode

# IntelliJ
.idea

# MYC output
.nyc_output
coverage

# GitHub
.github

# tsconfig
tsconfig.json
tsconfig.tests.json

# README src
src/README.md