
@keyframes wave {
  0%   { transform: scale(0.3, 0.3); }
  66% { transform: scale(1.5, 1.5); }
  100% { transform: scale(1.5, 1.5); }
}

$radar-size: 200px;
$circle-width: 4px;
$button-size: 50px;
$button-margin: 10px;
$radar-circle-count: 3;

$gradient: math.div(
  math.div($radar-size - ($button-size + $button-margin + $radar-circle-count * $circle-width), 2),
  $radar-circle-count - 2
);

@mixin radar-circle($index) {
  $radius: $radar-size - ($gradient * $index);
  $offset: math.div($gradient, 2) * $index;

  height: $radius;
  width: $radius;
  top: $offset;
  left: $offset;
  opacity: 10% + ($index * 10);
}

.connect {
  display: flex;
  justify-content: center;

  width: 100%;

  .center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;

    .connect-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      > .title { 
        font-size: 20px;
        font-weight: bold;
      }

      > .message {
        font-weight: 18px;
        margin-top: 5px;
        opacity: 80%;
      }

      > .pin {
        height: 90px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 62px;
        font-family: monospace;
      }
    }

    .pairing {
      > .sync {
        .wave {
          animation-name: wave;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-duration: 2s;
        }
      }
    }

    .sync {
      margin-top: 5px;
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: math.div($radar-size, 2);

      .radar {
        position: absolute;
        width: $radar-size;
        height: math.div($radar-size, 2);
        border-top-left-radius: $radar-size;
        border-top-right-radius: $radar-size;
        overflow: hidden;

        > * {
          position: absolute;
        }

        > .wave {
          left: 0;
          position: absolute;
          width: $radar-size;
          height: $radar-size;

          border-radius: $radar-size;
          transform: scale(0, 0);
          background-image: radial-gradient(circle, #D2D6E100 50%, #D2D6E1);
        }

        > .circle {
          border: $circle-width solid #D2D6E1;
          border-radius: $radar-size;

          &.one {
            @include radar-circle(0);
          }
  
          &.two {
            @include radar-circle(1);
          }
  
          &.three {
            @include radar-circle(2);
          }
        }
      }

      .sync-button {
        box-sizing: border-box;
        display: flex;
        padding: 10px;
        color: #202531;
        background-color: #D2D6E1;
        border-radius: $button-size;
        width: $button-size;
        height: $button-size;
        position: absolute;
        top: math.div($radar-size - $button-size, 2);
        cursor: pointer;

        > svg {
          width: 30px;
        }
      }
    }
  }
}