.resizeable {
  position: relative;

  &.horizontal {
    padding-right: 4px;

    .draghandle.vertical {
      width: calc(100% - 4px);
    }
  }

  &.vertical {
    padding-bottom: 4px;

    .draghandle.horizontal {
      height: calc(100% - 4px);
    }
  }

  .draghandle {
    position: absolute;
    min-width: 4px;
    min-height: 4px;
    background-color: #ffffff36;
    right: 0;
    bottom: 0;
    cursor: nwse-resize;

    &:hover {
      background-color: #ffffff80;
    }

    &.horizontal {
      top: 0;
      right: 0;
      height: 100%;
      cursor: ew-resize;
    }

    &.vertical {
      bottom: 0;
      left: 0;
      width: 100%;
      cursor: ns-resize;
    }
  }
}
