

.explorer {

  .explorer-content {
    display: flex;
    flex-direction: column;
  }

  .explorer-details {
    min-width: 200px;
  }

  .wallet-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 400px;

    > input {
      margin-bottom: 4px;
    }

    > select {
      margin-bottom: 8px;
    }
  }

  .resources {
    flex-direction: column;
  }

  .section {
    flex: 1;
  }

  .list-selector {
    overflow: auto;
  }
}