.section {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > .header {
    padding-left: 10px;
    background-color: #30384977;
    border: 2px solid #1A1E27;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    align-items: center;

    .label {
      margin: 5px 0;
      margin-right: 10px;
      flex: 1 1 auto;
    }

    .operation-icon {
      height: 30px;
      padding: 4px;
      border-radius: 2px;
      margin: 4px;
      opacity: 0.8;
      cursor: pointer;

      &:hover {
        background-color: #ffffff33;
      }

      &:active {
        opacity: 1;
        color: #6dc169cc;
      }
    }
  }
}
