.section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  background-image: i3m.$dark-background;

  &.light {
    background-image: i3m.$light-background;

    > .body {
      > * {
        color: i3m.$dark-foreground;
      }
    }
  }

  > .header {
    padding-left: 10px;
    background-color: #30384977;
    border: 1px solid #1A1E27;
    font-size: 18px;
    font-weight: bold;
    height: 40px;

    display: flex;
    align-items: center;

    .label {
      margin: 5px 0;
      margin-right: 10px;
      flex: 1 1 auto;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .operation-icon {
      height: 30px;
      padding: 4px;
      border-radius: 2px;
      margin: 4px;
      opacity: 0.8;
      cursor: pointer;

      &:hover {
        background-color: #ffffff33;
      }

      &:active {
        opacity: 1;
        color: #6dc169cc;
      }
    }
  }

  > .body {
    display: grid;
    flex: 1;

    &.center {
      justify-items: center;
    }

    > * {
      color: i3m.$light-foreground;
    }
  }
}
