.list-selector {
  display: flex;
  flex-direction: column;
  outline: none;

  flex: 1;

  &:focus {
    .list-selector-item {
      &.selected {
        background-color: #3BBD5955;
      }

      &.cursor {
        border-color: #3BBD59;
      }
    }  
  }

  .list-selector-item {
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background-color: #828FAC22;
    }

    &.selected {
      background-color: #828FAC44;
    }
  }
}
