.horizontal-accordion {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  >.accordion-fixed {
    color: i3m.$light-foreground;
  }

  >.accordion-extendible {
    flex: 1;
    color: i3m.$dark-foreground;
    background-image: i3m.$light-background;
  }
}
