
.settings {
  .settings-list {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 500px;
  }

  .settings-group {
    flex: 3;
    font-size: 16px;

    .settings-items {
      padding: 5px 20px;

      .settings-checkbox, .settings-number, .settings-input {
        align-items: center;

        .form-switch {
          margin-top: -4px;
        }

        label, input[type='checkbox'] {
          cursor: pointer;
        }
      }

      .settings-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5px;
      }

      .settings-array {

        > .settings-array-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 5px;

          > label {
            font-weight: bold;
            font-size: 18px;
            margin-right: 5px;
          }

          > .settings-array-name {
            cursor: pointer;
            flex: 1;
          }
        }

        .settings-array-item {
          display: flex;
          align-items: center;
        }

        .settings-array-button {
          &.add-button {
            height: 30px;
            width: 30px;
            padding: 5px;
            border-radius: 10px;
            color: #000;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
              opacity: 0.75;
            }
          }
          
          &.delete-button {
            margin: 0 5px;
          }
        }
      }

      .settings-object {
        > label {
          font-weight: bold;
        }
      }

      .settings-description {
        margin: 10px 0;
      }
    }
  }
}