
.settings {
  .settings-list {
    flex: 1;
  }

  .settings-group {
    flex: 3;
    font-size: 16px;

    .settings-item {
      padding: 5px 20px;

      &.settings-checkbox {
        label {
          cursor: pointer;
        }
      }
    }
  }
}