
@use 'sass:math';
@use 'styles/bootstrap-utils' as bootstrapUtils;
@use 'styles/i3m' as i3m;
@use 'styles/bootstrap' as bootstrap with (
  $primary:   i3m.$primary,
  $secondary: i3m.$secondary,
  $success:   i3m.$success,
  $info:      i3m.$info,
  $warning:   i3m.$warning,
  $danger:    i3m.$danger,
  $light:     i3m.$light,
  $dark:      i3m.$dark,

  $min-contrast-ratio: 3,
  // $accordion-button-active-bg:    bootstrapUtils.tint-color(i3m.$dark-secondary, 90%),
  // $accordion-button-active-color: bootstrapUtils.shade-color(i3m.$dark-secondary, 10%),
);
@use 'styles/bootstrap-typeahead.scss' as bootstrapTypeahead;

@include i3m.styles;
