
$details-separator-color: transparentize(bootstrapUtils.tint-color(i3m.$dark, 10%), 0.5);

.details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 350px;

  .copy-button {
    cursor: pointer;
    > svg {
      width: 15px;
      height: 15px;
    }
  }

  .details-separator {
    flex: 1;
    border-bottom: 1px solid $details-separator-color;
  }

  .details-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px;
    margin-bottom: 10px;
  }

  .details-body {
    display: flex;
    flex-direction: column;
    padding: 12px;

    .details-grid { 
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 5px;

      .details-label {
        grid-column: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.875rem;
      }

      .alert {
        grid-column: 1 / 3;
        margin-bottom: 5px;
        margin-top: 10px;
      }

      .details-input {
        grid-column: 2;
      }

      .details-buttons {
        display: flex;
        flex-direction: row;
        grid-column: 2;
        margin: 0 -5px; // Remove first and last margin of the button
        
        > .btn {
          flex: 1;
          margin: 0 5px;
        }

        .btn-group {
          padding: 0 10px;
        }
      }
    }
  }
}